.HandBackground {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

    .CardsContainer {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;

        .Hand {
            background-color: orange;
            padding: 12px;
        }

        z-index: 2;
        overflow: visible;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        backdrop-color: none;
        transition: opacity 0.3s ease;
        margin-bottom: 20px;

        .HandCard {
            box-shadow: 0px 0px 0p x 0px rgba(141,0,34,0);
            overflow: visible;
            transition: opacity 0.3s ease, margin-left 0.3s ease, margin-right 0.3s ease, top 0.3s ease, width 0.3s ease, height 0.3s ease, box-shadow 0.1s ease, transform 0.2s ease-out, bottom 0.2s ease-out, min-width 0.2s ease-out, min-width 0.2s ease, min-height 0.2s ease-out;
            position: relative;
            width: 95px;
            height: 133px;
            min-width: 0px;
            min-height: 0px;
            pointer-events: none;
            opacity: 0.5;
            //transform: scale(1.5);

            &:intro {
                top: 300px;
                margin-left: -95px;
            }

            &:outro {
                top: 0px;
                margin-left: 0px;
            }

            &.NotClickable {
                transition: margin-right: 0.3s ease, opacity 0.3s ease, transform 0s ease,width 0s ease, min-width 0s ease;
                transform: scale(1);
                top: -300px;
                opacity: 0;
                margin-right: -95px;
            }

            &:Hover {
                transition: min-width 0.1s ease-out, min-height 0.1s ease-out box-shadow 0.1s ease, transform 0.1s ease, bottom 0.1s ease;
                z-index: 2;
                transform: scale(1.3);
                box-shadow: 0px 6px 24px 2px rgba(141,0,34,0.8);
                min-width: 129px;
                min-height: 181px;
                bottom: 24px;

                &:active {
                    transition: bottom 0.1s ease,box-shadow 0.1s ease;
                    z-index: 2;
                    //box-shadow: 0px 8px 32px 8px rgba(182,32,68,1);
                    border: 3px solid rgba(182,32,68,1);
                    transform: scale(1.2);
                    //ottom: 24px;
                }
            }
            //&:active {
            //    transform: scale(2);
            //    top: -60px !important;
            //}
        }

        &.turn {
            .HandCard {
                opacity: 1;
                pointer-events: all;
                width: 129px;
                height: 181px;
                transition: opacity 0.6s ease, margin-left 0.3s ease, margin-right 0.3s ease;

                &:intro {
                    top: 300px;
                    margin-right: -64px;
                    margin-left: -64px;
                }

                &:outro {
                    top: 0px;
                    margin-right: 0px;
                    margin-left: 0px;
                }


                &.NotClickable {
                    transition: margin-left 0.3s ease, margin-right 0.3s ease,opacity 0.3s ease, width 0.3s ease, top 0.4s ease;
                    top: -300px !important;
                    pointer-events: none;
                    opacity: 0;
                    margin-right: -64px;
                    margin-left: -64px;
                }
            }

            opacity: 1;
        }

        .Cards {
            //transform: translate(-150px,0%);
        }
    }
}


.text {
    margin: 12px;
    color: white;
}
